@tailwind base;
@tailwind components;
@tailwind utilities;

.home-poster {
	grid-area: 1/1;
}
@font-face {
	font-family: DMSans;
	src: url(/src/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf);
}
@font-face {
	font-family: Poppins;
	src: url(/src/assets/fonts/Poppins/Poppins-Regular.ttf);
	/* src: url(/src/assets/fonts/Poppins/Poppins-Black.ttf)
		url(/src/assets/fonts/Poppins/Poppins-Bold.ttf)
		url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf)
		url(/src/assets/fonts/Poppins/Poppins-Medium.ttf)
		url(/src/assets/fonts/Poppins/Poppins-Regular.ttf)
		url(/src/assets/fonts/Poppins/Poppins-Light.ttf)
		url(/src/assets/fonts/Poppins/Poppins-SemiBold.ttf)
		url(/src/assets/fonts/Poppins/Poppins-Thin.ttf); */
}
